<tr>
    <td><strong><%= link_to admin.username, edit_admin_path(admin.username), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></strong></td>
    <td><%= admin.email %></td>
    <td><%= admin.firstName %></td>
    <td><%= admin.created_at %></td>
    <td><%= admin.updated_at %></td>
    <td><%= button_to "Delete", admin, method: :delete, class: 'btn btn-outline-success', onclick: "return confirm('Are you sure you want to delete this admin?');" %></td>
</tr>