<body class = "bodybackgroud">
    <% if Current.admin %>
        <h2 class = "text-center"> Welcome back <%= Current.admin.firstName %></h2>
    <% end %>
    <div class = "card-list">
        <div class = "card-item">
            <p class="text-content">There are <%= Admin.count %> admins registered</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Category.count %> categories</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Classification.count %> clasifications</p>
        </div>
        <div class = "card-item">
            <p class="text-content"><%= Event.count %> total events</p>
            <p class="text-content"><%= Event.count %> events that need to be reviewed (create a graph)</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Organization.count %> organizations</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Question.count %> questions</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Review.count %> reviews</p>
            <p class="text-content"><%= Review.count %> reviews need review (create graph)</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= Survey.count %> surveys completed</p>
        </div>
        <div class = "card-item">
            <p class="text-content">There are <%= User.count %> users</p>
        </div>
    </div>
</body>