<tr>
  <td><strong><%= link_to event.eventid, edit_administrator_event_path(event.eventid), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></strong></td>
    <td><%= event.title %></td>
    <td><%= event.eventDate.strftime("%B %d, %Y") %></td>
    <td><%= event.eventTime.strftime("%I:%M %p") %></td>
    <td><%= event.street %></td>
    <td><%= event.city %></td>
    <td><%= event.eventState %></td>
    <td><%= event.zipcode %></td>
    <td><%= event.isVirtual ? "Yes" : "No" %></td>
    <td class = "link-cell"><%= event.meetingLink.present? ? link_to(event.meetingLink, event.meetingLink, target: '_blank', rel: 'noopener') : "N/A" %></td>
    <td><%= event.eventstatus ? "Active" : "Inactive" %></td>
    <td><%= event.organization&.org_name || "N/A" %></td>
    <td><%= event.user_id || "N/A" %></td>
    <td><%= event.admin_id || "N/A" %></td>
    <td><%= event.eventDescription %></td>
    <td><%= event.created_at %></td>
    <td><%= event.updated_at %></td>
    <td><%= button_to "Delete", administrator_event_path(event), method: :delete, class: 'btn btn-outline-success', onclick: "return confirm('Are you sure you want to delete this event?');" %></td>
</tr>