<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.eventDescription %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.eventDate %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <%= event.eventstatus %>
  </p>

</div>
