<nav class="navbar navbar-expand-lg" style="background-color: #A4C3B2;">
  <div class="container">
    <%= link_to admindashboard_path, class: 'navbar-brand' do %>
      <%= image_tag 'AdminCenter.png', alt: 'COmmunity Admin Center Logo', class: 'logo-img' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if Current.admin %>
                <li class = "nav-items">
                  <%= link_to 'Dashboard', admindashboard_path, class: 'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Admins', administrator_admins_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Categories', administrator_categories_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Clasifications', administrator_classifications_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Events', administrator_events_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Organizations', administrator_organizations_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Questions', administrator_questions_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Reviews', administrator_reviews_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Surveys', administrator_surveys_path, class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Users', administrator_users_path, class:'nav-link' %>
                </li>
              <% end %>
         </div>
      </ul>
      <% if Current.admin %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= button_to 'Logout', adminlogout_path, method: :delete, class: 'btn btn-outline-success' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>


