<nav class="navbar navbar-expand-lg" style="background-color: #A4C3B2;">
  <div class="container">
    <%= link_to 'COmmunity Admin Center', admins_path, class: 'navbar-brand', style: 'margin-left: -5%;' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if Current.admin %>
                <li class = "nav-items">
                  <%= link_to 'Dashboard', "#", class: 'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Admins', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Categories', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Clasifications', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Dependents', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Events', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Favorites', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Organizations', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Questions', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Reviews', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Surveys', "#", class:'nav-link' %>
                </li>
                <li class = "nav-item">
                  <%= link_to 'Users', "#", class:'nav-link' %>
                </li>
              <% end %>
         </div>
      </ul>
      <% if Current.admin %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= button_to 'Logout', adminlogout_path, method: :delete, class: 'nav-link btn btn-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>


