<nav class="navbar navbar-expand-lg" style="background-color: #A4C3B2;">
  <div class="container"> <!-- Add container to center and add margins -->
    <%= link_to 'COmmunity', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Events', events_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Explore', pages_explore_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Log In', "#", class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', pages_about_us_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Create a profile', "#", class: 'nav-link' %>
        </li>
        <div>
          <% if Current.admin %>
            <li class="nav-item">
              <%= button_to 'Logout', adminlogout_path, method: :delete, class: 'nav-link' %>
            </li>
          <% end %>
         </div
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


