<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Buttons</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <%= button_to "Food", "#", method: :get, class:"button" %>
        <%= button_to "Housing", "#", method: :get, class:"button" %>
        <%= button_to "Healthcare", "#", method: :get, class:"button" %>
        <%= button_to "Education", "#", method: :get, class:"button" %>
        <%= button_to "Childcare", "#", method: :get, class:"button" %>
        <%= button_to "Legal Resources", "#", method: :get, class:"button" %>
    </div>
</body>
</html>
