<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>

    <%= stylesheet_link_tag 'card', media: 'all' %>
</head>
<body>
    <div class="full_container">
        <header>
            <div class="header-container">
                <h1>Food Resources</h1>
            </div>
        </header>

        <div class="card-grid">
            <% @organizations.each do |organization| %> <!-- Loop through each organization -->
            <div class="card">
                <h2><%= organization.org_name %></h2> <!-- Organization Name -->
                <div class="description">
                    <p><%= organization.servicesSummary %></p> <!-- Services Summary -->
                    <p><%= organization.street %>, <%= organization.city %>, <%= organization.org_state %> <%= organization.zipcode %></p> <!-- Address -->
                </div>
                <div class="contact-header">
                    <div class="contact-info">
                        Phone: <%= organization.phoneNumber %> <!-- Phone Number -->
                    </div>
                    <div class="favorite">&#9733;</div> <!-- Star icon -->
                </div>

                <div class="info-buttons">
                    <button class="add-button"><%= organization.street %></button> <!-- Address -->
                    <button class="phone-button"><%= organization.phoneNumber %></button> <!-- Phone Number -->
                    <button class="web-button"><a href="<%= organization.webLink %>">Website</a></button> <!-- Website -->
                </div>
            </div>
            <% end %>
        </div>
    </div>
</body>
</html>

