<div>
  <%= form_with(model: classification) do |form| %>
    <% if classification.errors.any? %>
      <div class = "alert alert-danger">
        <ul>
          <% classification.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <p></p>
    <div class = "col-mb-3">
      <%= form.label :categoryabbr_id, "Category", style: "display: block", class: "form-label" %>
      <div class = "input-group">
        <%= form.collection_select :categoryabbr_id, Category.all, :abbv, :cat_name, {prompt: "Select a Category"}, {class: "form-select form-select-lg mb-3"} %>
      </div>
    </div>
  <p></p>
    <div class = "col-mb-3">
      <%= form.label :organizationID_id, "Organization", style: "display: block", class: "form-label" %>
      <div class = "input-group">
        <%= form.collection_select :organizationID_id, Organization.all, :organizationId, :org_name, {prompt: "Select an Organization"}, {class: "form-select form-select-lg mb-3"} %>
      </div>
    </div>

    <% button_label = classification.persisted? ? "Update Classification" : "Create Classification" %>
    <% confirmation_message = classification.persisted? ? "Are you sure you want to update this classification?" : "Are you sure you want to create this classification?" %>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= form.submit button_label, class: "btn btn-alogin btn-lg", onclick: "return confirm('#{confirmation_message}');" %>
    </div>
  <% end %>
</div>