<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div class = "alert alert-danger">
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p></p>
  <%= form.label :abbv %>
  <%= form.text_field :abbv %>

  <%= form.label :cat_name %>
  <%= form.text_field :cat_name %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
