<tr>
    <td><strong><%= link_to survey.surveyID, edit_administrator_survey_path(survey.surveyID), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></strong></td>
    <td><%= survey.userID_id %></td>
    <td><%= survey.question.question %></td>
    <td><%= survey.answer %></td>
    <td><%= survey.created_at %></td>
    <td><%= survey.updated_at %></td>
    <td><%= button_to "Delete", administrator_survey_path(survey), method: :delete, class: 'btn btn-outline-success', onclick: "return confirm('Are you sure you want to delete this survey?');" %></td>
</tr>